.project-details-container {
    text-align: center;
    padding: 20px;
  }
  
  .back-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .main-image {
    width: 70%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .additional-images {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }
  